sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone-client
pinecone
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
streamlit
scikit-learn
huggingface_hub==0.15.1
-e .
